body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.container {
    display: flex;
    margin: 0px;
    flex: 1 1 500px;
}

.header {
    background-color: #1F2937;
    flex: 0 0 50px;
}

.one {
    background-color: #1F2937;
}

.two {
    
}

.three {
    background-color: #E5E7EB;
}

.four {
    
}

.footer {
    background-color: #1F2937;
    flex: 0 0 50px;
}